# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
env/
.venv/
.env/

# IDEs
.vscode/
.idea/

# Logs and reports
*.log
*.out
*.err

# Pytest
.cache/
.pytest_cache/

# Allure reports
allure-results/

# OS files
.DS_Store
Thumbs.db
